body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buba-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f8a5c2;
  position: relative;
}
.buba-container img {
  -o-object-fit: cover;
     object-fit: cover;
}
.buba-container img:nth-of-type(1) {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 70px;
  left: 100px;
  -webkit-animation: slideTop 1.8s linear infinite;
          animation: slideTop 1.8s linear infinite;
}
@media screen and (max-width: 1024px) {
  .buba-container img:nth-of-type(1) {
    top: 30px;
    left: 30px;
  }
}
.buba-container img:nth-of-type(2) {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 70px;
  left: 160px;
  -webkit-animation: slideBottom 1s linear infinite;
          animation: slideBottom 1s linear infinite;
}
@media screen and (max-width: 1024px) {
  .buba-container img:nth-of-type(2) {
    width: 120px;
    height: 120px;
    bottom: 30px;
    left: 30px;
  }
}
.buba-container img:nth-of-type(3) {
  width: 190px;
  height: 190px;
  position: absolute;
  top: 70px;
  right: 230px;
  -webkit-animation: slideTop 1s linear infinite;
          animation: slideTop 1s linear infinite;
}
@media screen and (max-width: 1024px) {
  .buba-container img:nth-of-type(3) {
    width: 150px;
    height: 150px;
    top: 30px;
    right: 30px;
  }
}
.buba-container img:nth-of-type(4) {
  width: 220px;
  height: 220px;
  position: absolute;
  bottom: 70px;
  right: 70px;
  -webkit-animation: slideBottom 2.3s linear infinite;
          animation: slideBottom 2.3s linear infinite;
}
@media screen and (max-width: 1024px) {
  .buba-container img:nth-of-type(4) {
    width: 170px;
    height: 170px;
    bottom: 30px;
    right: 30px;
  }
}

.buba-container__text {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 10px;
}
.buba-container__text:before {
  content: "";
  position: absolute;
  filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #f8a5c2 1em, #f8a5c2 50%);
  background-size: 3em 3em, 2em 2em;
  -webkit-animation-name: ani;
          animation-name: ani;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@media screen and (max-width: 1024px) {
  .buba-container__text:before {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
}

@-webkit-keyframes slideTop {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slideTop {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes slideBottom {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes slideBottom {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 0;
  }
}
@-webkit-keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}/*# sourceMappingURL=style.css.map */